<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Profile</title>
  </head>
  <body class="body-two">
    <div class="profile">
      <h1>Profile for <%= user.name %></h1>
      <img src="<%= user.picture %>" alt="..." />
      <div class="profile-info">
        <p>Name: &nbsp;<%= user.name %></p>
        <p>Email: &nbsp;<%= user.email %></p>
        <p>Home: &nbsp;<%= user.location %></p>
        <div>
          <a href="/api/users/update-profile">Edit</a>
        </div>
      </div>
    </div>
    <div class="form-links">
      <a href="/api/favorites">Favorites</a> |
      <a href="/api/weather">Weather</a>
    </div>
  </body>
</html>
